.app {
  margin: auto;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  max-width: var(--max-accessible);

  main {
    overflow: scroll;
    padding-inline: var(--spacing-milli);
  }

  nav {
    box-shadow: 0 -2px var(--spacing-nano) var(--default-shadow-color);

    ul {
      display: grid;
      list-style: none;
      text-align: center;
      grid-auto-flow: column;
      background: var(--nav-bar-bg);

      li {
        &.active {
          color: var(--nav-bar-active);
          background: var(--bottom-nav-tab-active-bg);
        }

        a {
          height: 100%;
          display: block;
          text-decoration: none;
          padding-block: var(--spacing-standard);

          &:hover {
            background: var(--nav-bar-active-bg);
          }
        }
      }
    }
  }
}
