#app {
  margin: auto;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  max-width: var(--max-accessible);

  main {
    overflow: scroll;
    padding-inline: var(--spacing-milli);

    .page-segment {
      min-height: 100%;

      &[data-segment-name='motivation'] {
        display: flex;
        align-items: center;
        gap: var(--spacing-standard);
      }
    }
  }

  nav {
    box-shadow: 0 -2px var(--spacing-nano) var(--default-shadow-color);

    ul {
      display: grid;
      list-style: none;
      text-align: center;
      grid-auto-flow: column;
      background: var(--nav-bar-bg);

      li {
        a {
          height: 100%;
          display: block;
          text-decoration: none;
          color: var(--nav-bar-link);
          padding-block: var(--spacing-standard);

          &:hover, &:focus {
            color: var(--nav-bar-active);
            background: var(--nav-bar-active-bg);
          }
        }

        &.active {
          color: var(--nav-bar-active);
          background: var(--nav-bar-active-bg);

          a {
            color: var(--nav-bar-active);
          }
        }
      }
    }
  }
}
