@import "base/variables";
@import "base/defaults";
@import "base/buttons";
@import "base/generic";

* {
  scroll-behavior: smooth;
  outline-color: transparent;
  outline-width: var(--spacing-single);
  scroll-padding: var(--spacing-standard);
}

:root {
  ::-webkit-scrollbar {
    width: var(--spacing-zero);
    height: var(--spacing-zero);
  }


  @media screen and (min-width: $tablet-screen) {
    ::-webkit-scrollbar {
      width: var(--spacing-double);
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 0;
      background: var(--muted-text-color);
    }

    ::-webkit-scrollbar-thumb:hover,
    ::-webkit-scrollbar-thumb:active, {
      background: var(--secondary-color-light);
    }
  }
}
