:root {
  --heading-line-height: 1.5;
  --app-bar-font-size: 1.125rem;
  --paragraph-line-height: 1.75;
  --subtitle-font-size: 0.875rem;
  --heading-font: 'Roboto', sans-serif;
  --body-default-font: 'Roboto', sans-serif;
  --body-alternate-font: 'Roboto', sans-serif;
  --monospace-font: 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', 'Roboto Mono', monospace;
}
